<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="./style/style.css" />

  </head>
  <body>
  <div class="headerTitle">
    {{>header}}
    <p>Use this site to get your weather data</p>
         <form>
  <input placeholder="Location">
  <button>Search</button>
          </form>
   <hr>



    <p id = "infoLine-1" ></p>

    <p id = "infoLine-2" ></p>
  </div>
    <p>{{>footer}}</p>

 <script src="./script/script.js"></script>
  </body>
</html>